.wrapper {
  display: flex;
  width: 1280px;
  margin: 120px auto 0;
}

.list {
  list-style-type: none;
  padding-inline-start: 20px;
}
.item {
  cursor: pointer;
  text-decoration: none;
}

.activeItem {
  color: #fff;
}

.description {
  margin-top: 94px;
  opacity: 0.4;
}


