.burgerIngredients {
  width: 600px;
}

.container {
  max-height: 920px;
  overflow-y: scroll;
  scrollbar-color:  #2F2F37 #8585AD;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  width: 8px;
}
.container::-webkit-scrollbar-track {
  background:  #2F2F37;
}
.container::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: solid #8585AD;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}
