
.ingredient {
  display: flex;
  align-items: center;
}

.img {
  width: 112px;
  height: 56px;
  position: absolute;
  left: -24px;
  top: 4px;
}

.img_container {
  display: flex;
  justify-content: space-between;
}

.img_box {
  position: relative;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: #131316;
  text-align: center;
}

.img_box::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
  border-radius: 50px;
  z-index: -1;
}

.price {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

