.link {
  text-decoration: none;
  color: #f2f2f3;
}

.item {
  position: relative;
  width: 272px;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
}
