.burgerIngredients {
  width: 600px;
}

.container {
  max-height: 720px;
  overflow-y: scroll;
  scrollbar-color: #2f2f37 #8585ad;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  width: 8px;
}
.container::-webkit-scrollbar-track {
  background: #2f2f37;
}

.container::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: solid #8585ad;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}
